body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: #11325b;
}

#message-container {
  width: 100%;
  max-width: 1200px;
  font-family: 'Poppins', sans-serif;
}

#message-container div {
  background-color: #11325b;
  color: white;
  padding: 5px;
}

#message-container div:nth-child(2n) {
  background-color: #46a4fb;
  color: black;
}

#send-container {
  position: fixed;
  padding-bottom: 30px;
  bottom: 0;
  max-width: 1200px;
  width: 90%;

}

#message-input {
  flex-grow: 1;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-family: 'Kanit', sans-serif;
  font-size: 80px;
  text-align: center;
  color: white;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
}

hr { 
  border-top: 1px solid black;
}

input[type=text]:focus {
  background-color: #0062CC;
}

input[type=text] {
  width: 100%;
  max-width: 1200px;
}

.btn {
  width: 100%;
  max-width: 1200px;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
}

.btn:hover {
  background-color: white;
  color: black;
}